<html>
    <head>
        <title>ITmotiv blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">ITmotiv Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">First ITmotiv</a></h2>
            <p>
            	
            </p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Second ITmotiv post</a></h2>
            <p>
            	
            </p>
        </div>
    </body>
</html>